<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link th:href="@{/css/login_1.css}" rel="stylesheet" href="login_1.css">

</head>
<body>
	<div id="wrapper">
		<header>
			<h1>ログイン</h1>
			<a th:href="@{/top}">トップに戻る</a>
		</header>
		
		<div id="form-area" th:object="${loginForm}">
			<div class="error" th:if="${validationError}" th:text="${validationError}" ></div>
		</div>
			
		<div class="error" th:if="${param.error}">
			<p>認証できませんでした。入力内容を確認して再度ログインしてください。</p>
		</div>
		
		<!-- ログアウト後 -->
		<div class="info" th:if="${param.logout}">
		<p>ログアウトしました。</p>
		</div>
			
			<form th:action="@{/perform_login}" method="post" th:object="${loginForm}">
		<!-- CSRF -->
		<!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
		
		<div class="form-row">
			<label th:for="*{loginInput}">ユーザー名</label>
			<input type="text" th:field="*{loginInput}" name="loginInput" placeholder="会員IDもしくはメールアドレス" autocomplete="username">
		</div>
		<div class="form-row">
			<label th:for="*{memberPassword}">パスワード</label>
			<input type="password" th:field="*{memberPassword}" name="memberPassword" autocomplete="current-password">
		</div>
		<div class="form-row">
		<input type="submit" value="ログイン">
		</div>
			</form>
		</div>
	</div>
</body>
</html>
